html, body, .container-fluid,  .container, #root{
  height: 100%;
  padding: 0px;
  padding-bottom: 7vh;
}
.topbar-header {
  height: 7vh;
}
.footer{
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  background-color: #f5f5f5;
  overflow: hidden;
}
.btn-danger {
  color: #fff;
  background-color: #e61e25;
  border-color: #e61e25;
}
.nav-link.badge {
  font-size: 1.2em;
  margin: 0.1em;
}
.alert-danger {
  color: #ffffff;
  background-color: #ff0017bf;
  border-color: #ff0017bf;
}
.restriction-row .badge{
  font-size: 1em;
}
.clickable {
  cursor: pointer;
}
.flipcounter-box{
  height: 100px;
  width: 100px;
  font-size: 60px;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  color: white;
}
.countdown {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}  
.unit-text{
  text-transform: capitalize;
}
@media screen and (max-width: 500px) { 
  .flipcounter-box{
    height: 20vw;
    max-height: 20vw;
    width: 20vw;
    max-width: 20vw;
    font-size: 10vw;
    text-align: center;
    padding: 0;
    padding-top: 5vw;
  }  
  .countdown {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .unit-text{
    font-size: 5vw;
    text-align: center;
  }
}
.confirmation-box{
  margin-top: 25vh;
}
.badge-pink{
  background: #dc3545;
}
.badge-purple{
  background: #800080;
}
.bg-lightblue {
  background-color: dodgerblue;
}
.post-christmas {
  margin-top: 5vh;
}
.santas-block {
  margin-top: 50px;
}
.santas-block :nth-child(odd) {
  color: #ff9014;
  font-weight: 700;
}
.santas-block :nth-child(even) {
  color: #68a614;
  font-weight: 700;
}
.tree-img {
  position: absolute;
  right: 50px;
  bottom: 10vh;
}
.spinner-block {
  margin-top: 300px;
}