@import url('https://fonts.googleapis.com/css?family=Ultra');

html, body, .container-fluid,  .container, #root{
  height: 100%;
  padding: 0px;
  padding-bottom: 8vh;
}
.topbar-header {
  height: 8vh;
}
.footer{
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 8vh;
  line-height: 7vh;
  background-color: #f5f5f5;
  overflow: hidden;
}
.footer-content{
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.footer-logo {
  max-height: 2em;
  margin: auto;
}
.btn-danger {
  color: #fff;
  background-color: #e61e25;
  border-color: #e61e25;
}
.cta {
  margin-bottom: 50px;
}
.nav-link.badge {
  font-size: 1.2em;
  margin: 0.1em;
}
.alert-danger {
  color: #ffffff;
  background-color: #ff0017bf;
  border-color: #ff0017bf;
}
.restriction-row .badge{
  font-size: 1em;
}
.clickable {
  cursor: pointer;
}
.flipcounter-box{
  height: 100px;
  width: 100px;
  font-size: 60px;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  color: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.countdown {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}  
.unit-text{
  text-transform: capitalize;
}
@media screen and (max-width: 500px) { 
  .flipcounter-box{
    height: 20vw;
    max-height: 20vw;
    width: 20vw;
    max-width: 20vw;
    font-size: 10vw;
    text-align: center;
    padding: 0;
    padding-top: 5vw;
  }  
  .countdown {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .unit-text{
    font-size: 5vw;
    text-align: center;
  }
}
.confirmation-box {
  margin-top: 15vh;
}
.confirmation-box .display-4{
  font-weight: 400;
  margin-bottom: 50px;
  color: #05b023;
  font-size: 2.5em;
}
.countdown-red{
  background: #f2302e;
}
.countdown-yellow{
  background: #FF9800;;
}
.bg-lightblue {
  background-color: dodgerblue;
}
.post-christmas {
  margin-top: 5vh;
}
.santas-block {
  margin-top: 50px;
}
.santas-block :nth-child(odd) {
  color: #ff9014;
  font-weight: 700;
}
.santas-block :nth-child(even) {
  color: #68a614;
  font-weight: 700;
}
.tree-img {
  position: absolute;
  right: 50px;
  bottom: 10vh;
}
.spinner-block {
  margin-top: 300px;
}
.no-link {
  text-decoration: none !important;
}
.btn-next {
  color: #fff;
  background-color: #038821;
  border-color: #038821;
  font-size: 1.2em;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
@media screen and (max-width: 575px) { 
  .btn-next {
    width: 90%;
    margin: auto;
  }
}
.event-text {
  font-family: 'Ultra', serif;
  font-weight: 400;
  font-style: normal;
  color: #f2302e;
  text-transform: uppercase;
  font-size: 3em;
}
.text-warning {
  color: #FF9800!important;
}
.lead {
  font-size: 1.4em;
  font-weight: 400;
}
.row-text {
  font-size: 1.25rem;
  font-weight: 500;
}
.header-text {
  font-size: 1.3rem;
}
@media screen and (max-width: 575px) {
  .row-text {
    font-size: 1rem;
    font-weight: 500;
  }
  .header-text {
    font-size: 1.1rem;
    font-weight: 600;
  }
}