
.display-3 {
  font-size: 4em;
  font-weight: 350;
}
.display-4 {
  font-size: 2.7em;
}
.jumbotron {
  background-image: linear-gradient(to right bottom,#007bff1f, #ffffff);
  min-height: 86vh;
  margin: 0;
  padding : 4vh 0 10vh 0;
}
.cta-text, .cta-img{
  margin-top: auto;
  margin-bottom: auto;
}
